.signin-page {
  background-color: rgb(238,238,238);
  height: 100vh;
  font-family: $headers-font;
  display:flex;
  justify-content: center;
  
}

.signin-content {
  align-self: center;
  width: 100vw;
}

.signin-heading {
  display: flex;
  justify-content: center;
}
  
  
  .heading-text {
    h3 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.heading-logo {
  margin-right: 16px;
  margin-top: 0;
  font-weight: bolder;
  h3 {
  transform: rotate(-90deg);
  font-weight: bolder;
  }
}

.form-field {
  margin: 40px 8px 40px 8px;
 

}

.signin-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(197,197,197);
  margin: 48px 8px 0px 8px;
  border-radius: 2px;
  
}

.text-field {
  background-color:transparent ;
  border: transparent;
  border-bottom: 1px solid #009688 ;
  transition: border-bottom 0.2s ease-in-out;
  &:focus {
    background-color: transparent;
    border-bottom: 3px solid #009688 ;
    box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0);
  }
  
}

